.img-circle {
    height: 200px;
    width: 200px;
    border-radius: 70%;
}


footer {
  font-size: 12px;
  padding: 20px 0;

}

a {
  color: white;
}

footer .col-sm-8 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.paragraph {
  width: 700px;
     margin: auto;
     font-size: 125%;
     margin-top: 50px;
     margin-bottom: 50px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


   }
#footer-content {
     background: CornflowerBlue;
     min-width:100%;
     position:relative;
		margin:0 auto;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidde

}


.navbar-default {
  background-color:CornflowerBlue;
  background-image: none;
  background-repeat: no-repeat;
 }
