.img-circle {
    height: 200px;
    width: 200px;
    border-radius: 70%;
}


footer {
  font-size: 12px;
  padding: 20px 0;

}

a {
  color: white;
}

h2 {
  color: white;
}

footer .col-sm-8 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  font-size: 100px;

}

footer li img {
  width: 32px;
  height: 32px;
}

.paragraph {
  width: 700px;
     margin: auto;
     font-size: 125%;
     margin-top: 50px;
     margin-bottom: 50px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


   }
#footer-content {
     background: CornflowerBlue;
     position: absolute;
     right: 0rem;
     bottom: 0;
     left: 0;
     padding: 1rem;
     text-align: left;
    


}


.navbar-default {
  background-color:CornflowerBlue;
  background-image: none;
  background-repeat: no-repeat;
 }

 footer li {
    font-size: 100px;
 }
 