.img-circle {
    height: 200px;
    width: 200px;
    border-radius: 70%;
}


footer ul {
  list-style: none;
 
} 


.listStyle h2, h4, a {
  color: white;

}

.listStyle li img, h2 {
  margin-left: 0px;
}

footer li img {
  width: 32px;
  height: 32px;
}

.paragraph {
  width: 700px;
     margin: auto;
     font-size: 125%;
     margin-top: 50px;
     margin-bottom: 50px;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


   }


.navbar-default {
  background-color:CornflowerBlue;
  background-image: none;
  background-repeat: no-repeat;
  width: 100%;
 }

 .navbar-default a {
   color: white;
   
  
  }


 html {
  position: relative;
  min-height: 100%;
}



footer {
  position: absolute;
  bottom: 0px;
  height: 200px;
  width: 100%;
  background-color: cornflowerblue;
}
body {
  margin:0;
  padding:0;
  height:100%;
}

.test {
  padding-bottom: 200px;
}

.jumbatron {
  background-color: cornflowerblue;
}